[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
g4f = "==0.0.2.2"
langchain = "==0.0.218"
openai = "==0.27.8"
streamlit = "==1.22.0"
streamlit-chat = "==0.1.1"
pymupdf = "==1.22.5"
faiss-cpu = "==1.7.4"
tiktoken = "==0.4.0"
tenacity = "==8.1.0"
google-search-results = "==2.4.2"
google-cloud-aiplatform = ">=1.26.0"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
